<h1>新規作成画面</h1><br>
<form action="/new_" method="post">
<h2>タイトル</h2><br>
<input type="text" size="30" maxlength="20" name="title"><br>
<h3>内容</h3><br>
<textarea cols="40" rows="20" maxlength="100" name="contents"></textarea><br>

<input type="submit" value="保存">
</form>

<a href="/memos/top">キャンセル</a>