<% if @memos.length == 0 %>
  <p>メモがありません</p>
<% else %>
  <% @memos.each do |memo| %>
    <a href="/memos/<%= memo['id'] %>"><%= memo['title'] %></a><br>
  <% end %>
<% end %>

<a href="/memos/new">追加</a>